.sinopse-conteudo{
    padding: 8px;
    max-width: 700px;
    width: 100%;
    color: white;
    h1{
        font-family:Bonheur Royale,cursive,Arial, Helvetica, sans-serif ;
        font-size: 5em;
        text-align: center;
        text-shadow: 0px 4px 4px black;
    }
    p{
        font-family: Raleway,Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        text-align: justify;
        text-shadow: 0px 4px 4px black;
    }
    a{
        
        
        font-family: Marcellus SC, Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        text-decoration: none;
        color: white;
        padding: 8px;
        border: 1px solid white;
        &:hover{
            background-color: rgb(252, 244, 171);
            color: black;
            transition: 0.8s;
            scale: 0.9;

        }

    
    }
}