
.slider-personagens{

    margin: 16px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .slider-content{
        height: 600px;
        width: 90%;
        position: relative;
        
        
        input{
            display: none;
        }
        .itens-personagens{
            width: 100%;
            height: 600px;
            position: absolute;
            text-align: center;
            opacity: 0;
            transition:opacity 1s ease-in-out;
            img{
                width: 90%;
                height: 80%;

            }
        }
        
        .nav-manual, .nav-auto{
            position: absolute;
            z-index: 111;
            width: 100%;
            margin-top: 34.5%;
            object-fit: cover;
            display: flex;
            justify-content: center;
            .a1{            
                width: 10px;
            }
            
            .manual-btn, .a1{
                border: 1px solid white;
                padding: 10px;
                border-radius: 50%;
                transition: .3s;
                cursor: pointer;
                &:not(:last-child){
                    margin-right: 5px;
                }
                &:hover{
                    border: 1px solid rgb(245, 147, 1);
                    background-color: wheat;
                    scale: 1.2;

                }
            
            }
        }
        
        .itens-personagens.ativo{
            opacity: 1;
        }
    }
}

#radio-1:checked ~ .nav-auto .auto-btn1,
#radio-2:checked ~ .nav-auto .auto-btn2,
#radio-3:checked ~ .nav-auto .auto-btn3,
#radio-4:checked ~ .nav-auto .auto-btn4,
#radio-5:checked ~ .nav-auto .auto-btn5,
#radio-6:checked ~ .nav-auto .auto-btn6,
#radio-7:checked ~ .nav-auto .auto-btn7 {
    background-color: wheat;
    }
    #radio-1:checked ~ .ativ {
        margin-left: 0%;
    }

.aba-dragoes{

    color: aliceblue;
    h3{
        padding: 16px;
        font-size: 3em;
        font-style: italic;
        font-family: "Quintessential", sans-serif;
    }
    .dragoes{
        border-bottom: 1px solid rgba(255, 255, 255, 0.158);
        padding: 32px;
        display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        filter: brightness(1.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.521);
        width: 350px;
        height: 300px;
    }
    .lado-direito{
        border-right: 1px solid rgba(255, 255, 255, 0.527);
    }
    .lado-esquedo{
        border-left: 1px solid rgba(255, 255, 255, 0.521);
    }
    .info-dragoes{
        width: 60%;
        table{
    width: 100%;
    border-collapse: collapse;
            th{
                padding: 6px;
            }
            td{
                padding: 8px;
            }
}
    }
    }
}


table, th, td {
    margin: auto;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
  }
th{
    padding: 8px;
    border: 1px solid rgba(172, 172, 172, 0.418);
    text-align: center;
}
td{
    padding: 8px;
    border: 1px solid rgba(172, 172, 172, 0.418);
    text-align: center;
}

.mais-sobre-dragoes{
    width: 1000px;
    padding-top: 16px;
    color: white;
    h2{
        font-family: "Quintessential", sans-serif;

    }
    p{
        font-family:"Raleway", Arial, Helvetica, sans-serif; 
        padding: 32px;
        color: rgb(185, 164, 124);
    }
}