.conteudo-mundo{
    
    max-width: 1000px;
    border-radius: 10px;
    background-color: #070600;
    margin: 10px auto;
    padding: 16px;
    color: #E3B37F;
    font-family: Raleway,Arial, Helvetica, sans-serif;
    h1,h2,h3,h4,h5,h6{
        color: white;
        
    }
    h1,h2{
        border-bottom:1px solid rgba(255, 255, 255, 0.356) ;
        padding-bottom: 5px;
    }
    
    
    .mapa{
        text-align: center;
        
        img{
            width: 60%;
            
            &:hover{
                filter: brightness(120%);
                scale:1.05;
                transition: 0.5s;
            }
        }
    }
    section{
        padding: 50px;
        p,ul{
            padding-top: 8px;
            padding-left: 32px;
        }
        .artigo{
            padding: 5px;
        
            h4{
                
                font-size: 1.4em;
                font-style: italic;
                
            }
            
            strong{
                color: white;
            }
            
        }
        
    }
}
.container-lista{
    padding-top: 16px;
    .lista-principal{
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{ 

        
        display: inline-block;
        position: relative;
        .links-lista-p{
            
            
            text-decoration: none;
            color: rgb(248, 207, 169);
            span{
                img{
                    margin-left: 5px;
                    transition: 0.3s;
                }
            }
            
            
            
        }
        .sublista{
            background-color: rgb(109, 109, 109);
            position: absolute;
            display: none;
            border-radius: 5px;
            width: 120px;
            padding: 0px;
            z-index: 1000;
            
                li{
                    text-align: left;
                    padding: 5px;
                    display: block;
                    list-style: none;
                    color: black;
                    align-content: space-around;
                    
                a{  
                    text-decoration: none;
                    color: white;
                    width: 100%;
                }
                color: black;
            }
            
        }
        &:hover > .links-lista-p > span{
            img{

                transform: rotate(90deg);
                transition: 0.3s;
            }
        }
        &:hover > .sublista {

            
            display: block;
            li{
                &:hover{
                    background-color: rgb(121, 104, 83);
                transition: 0.3s;
                color: rgb(155, 137, 103);
                }
                a{
                    &:hover{
                        transition: 0.5s;
                        
                        color:rgb(231, 204, 154);
                    }
                }
                
            }

        }
    }
    
}



}



@media screen and (max-width: 768px) {
    .conteudo-mundo{
        max-width: 1000px;
        width: 95%;
        .mapa{
            img{
                width: 80%;
            }
        }
        section{
            
            p,ul{
                padding-top: 16px;
                padding-left: 8px;
            }
            
            
        }
    }
    
        
    .container-lista{
        padding-top: 16px;
        .lista-principal{
        padding-left: 0px;
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        margin-top: 5px ;
        
        
        li{
            cursor: pointer; 
            border-radius: 16px;
            width: 90%;
            text-align: center;
            background-color: #e3b37fc7;
            margin-top: 5px;
            padding: 16px;
            font-size: 1.5em;
            &:hover{
                scale: 0.95;
                transition: 0.3s;
            }
            .links-lista-p{
                font-weight: bold;
                color: #070600;
            }
            &:hover > .sublista {
                display: none;
            }
        }
        
    }
    
    
    
    }
    
    
    
    
    
}