.conteudo-mundo{
    border: 1px solid white;
    max-width: 1000px;
    margin: 10px auto;
    padding: 16px;
    color: #F1D94F;
    font-family: Raleway,Arial, Helvetica, sans-serif;
    h1,h4,h3{
        color: white;
    }
    h2{
        text-align: center;
        padding: 10px;
        color: white;
    }
    h3{
        padding: 5px;
        color: white;
    }
    
    .mapa{
        text-align: center;
        
        img{
            width: 60%;
        }
    }
}
.container-lista{
    .lista-principal{
    max-width: 1000px;
    border: 1px solid white;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{ 

        
        display: inline-block;
        position: relative;
        .links-lista-p{
            
            padding: 5px;
            text-decoration: none;
            color: rgb(248, 207, 169);
            span{
                img{
                    margin-left: 5px;
                    transition: 0.3s;
                }
            }
            
            &:hover >span > img{
                    transform: rotate(90deg);
            }
            
        }
        .sublista{
            background-color: rgb(109, 109, 109);
            position: absolute;
            display: none;
            border-radius: 5px;
            margin: auto;
            width: 120px;
            padding: 0px;
            z-index: 1000;
            
                li{
                    text-align: left;
                    padding: 5px;
                    display: block;
                    list-style: none;
                    color: black;
                    align-content: space-around;
                    
                a{  
                    text-decoration: none;
                    color: white;
                    width: 100%;
                }
                color: black;
            }
            
        }
        &:hover > .sublista {

            
            display: block;
            li{
                &:hover{
                    background-color: rgb(121, 104, 83);
                transition: 0.3s;
                color: rgb(155, 137, 103);
                }
                a{
                    &:hover{
                        transition: 0.5s;
                        
                        color:rgb(231, 204, 154);
                    }
                }
                
            }

        }
    }
    
}

}



