.inicio-cavaleiros{
    padding: 16px;
    
    
    .lista-topicos{
        border: 1px solid white;
        width: 320px;
        padding: 16px;
        ol{
            font-weight: bold;
            font-size: 0.9em;
            ol{
                list-style:lower-roman;
                li{
                    padding: 5px;
                }
                ol{
                    list-style: decimal-leading-zero;
                }
            }
        }
    
    }
}
